@model StudentCatalog.Models.Student

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <label>Firstname</label>
    <div>
        @Html.TextBoxFor(x => x.Firstname)
        @Html.ValidationMessageFor(x=>x.Firstname)
    </div>

    <label>Lastname</label>
    <div>
        @Html.TextBoxFor(x => x.Lastname)
    </div>

    <label>Email</label>
    <div>
        @Html.TextBoxFor(x => x.Email)
    </div>

    <label>Mobile Phone</label>
    <div>
        @Html.TextBoxFor(x => x.MobilePhone)
    </div>
    
    <input type="submit" value="Save"/>
}