@using StudentCatalog.Models
@model StudentCatalog.ViewModels.StudentIndexViewModel

@{
    ViewBag.Title = "Index";
}


@foreach (Student student in Model.Students)
{
    <a href="@Url.Action("Edit", "Students", new { id = student.StudentId })">
        <img src="@student.ProfileImagePath" alt="Profile image" class="thumbnail img-responsive"/>
    </a>
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Firstname
        </th>
        <th>
            Lastname
        </th>
        <th>
            Email
        </th>
        <th>
            Mobile Phone
        </th>
        <th></th>
    </tr>

@foreach (Student item in Model.Students) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobilePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileImagePath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentId })
        </td>
    </tr>
}

</table>
